<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724612180168-07p62oklbs5vlods5gh4abs13v8em4bc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724612180168-07p62oklbs5vlods5gh4abs13v8em4bc</string>
	<key>API_KEY</key>
	<string>AIzaSyCMrJ9dCzqUUQ0SqS2PQ3Au_gHExXQW8kA</string>
	<key>GCM_SENDER_ID</key>
	<string>724612180168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.parhyme.chat-app</string>
	<key>PROJECT_ID</key>
	<string>chat-app-171b5</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-171b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724612180168:ios:78396d2de887cae2a8ddfd</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-171b5.firebaseio.com</string>
</dict>
</plist>